.collapse {
  display: flex;
  justify-content: space-between;
}

.navbar {
  text-align: left;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
}

.nav-title {
  font-size: 36px;
  display: inline;
  margin-left: 15px;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
  margin: 0px 15px 5px;
  padding: 0px;
}

@media only screen and (max-width: 991px) {
  .collapse {
    display: block
  }
  .register button, .login button {
    width: 100%;
  }
}