.collapse {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container li {
  margin-top: 0px !important;
}

.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 12px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand:hover {
  text-decoration: none !important;
}

.nav-title {
  font-size: 36px;
  display: inline;
  margin-left: 15px;
}

.nav-link {
  font-size: 20px;
  margin: 0 24px;
}

@media only screen and (max-width: 991px) {
  .collapse {
    display: block
  }
  .register button, .login button {
    width: 100%;
  }
}