/*Pagewide Features*/

.footer a:link {
  color: #7209b7;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a:visited {
  color: #f72585;
}
.pattern-generator-link {
  border: 1px solid #7209b7;
  border-radius: 20px;
  background: #7209b7;
  color: #fff;
  padding: 9px 10px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.pattern-generator-link:hover {
  background: #3a0ca3;
  color: #fff;
}

button {
  border: 1px solid #7209b7;
  border-radius: 20px;
  background: #7209b7;
  color: #fff;
  padding: 5px 10px;
}
button:hover {
  background: #3a0ca3;
}
p,
ol,
button {
  font-size: 20px;
}
note {
  font-size: 18px;
}

body {
  background-image: url("https://drive.google.com/uc?id=1PRR6D6IcdcHhTKgsTlSjgczAPDe3wf2r");
  background-color: #f7f5f2;
  font-family: "Share Tech Mono";
  margin: 0;
  padding: 0;
}
/*Title and Navigation*/
.title,
.subtitle {
  text-align: center;
}
.subtitle {
  color: #3a0ca3;
  font-weight: 700;
}
.title {
  font-size: 75px;
  margin: 80px 0 20px;
}
#yarn-emoji {
  width: 10%;
  height: 10%;
}
.navigation-bar {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
  padding: 15px;
  font-size: 25px;
  margin: 25px 0;
}
.navigation-bar button {
  margin: 0px 20px;
}

#purl-title {
  font-family: "Pacifico";
  color: #3a0ca3;
}
#bot-title {
  font-family: "Share Tech Mono";
  font-weight: bold;
  color: #7209b7;
}

/*Footer*/
footer {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  margin: 50px;
  font-size: 20px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #3a0ca3;
}
