/*Pagewide Features*/
p,
ol {
  font-size: 20px;
}
note {
  font-size: 18px;
}

body {
  background-image: url("https://drive.google.com/uc?id=1PRR6D6IcdcHhTKgsTlSjgczAPDe3wf2r");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f7f5f2;
  font-family: "Share Tech Mono";
  margin: 0;
  padding: 0;
  width: 100%;
}
.root { width: 100%;}
/*Title and Navigation*/
.subtitle {
  text-align: center;
  color: #3a0ca3;
  font-weight: 700;
  margin: 150px 0 20px;
}
/*CSS media queries*/
@media only screen and (max-width: 600px) {
  .navigation-bar button {
    display: block;
  }
}
