/*Pagewide Features*/
p,
ol {
  font-size: 20px;
}
note {
  font-size: 18px;
}

body {
  background-image: linear-gradient(to top, #3a0ca3 0%, #9c52cc 100%);
  font-family: "Share Tech Mono";
  margin: 0;
  padding: 0;
  width: 100%;
}

.card {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  max-width: 650px;
}

.card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #3a0ca3;
}
.container {
  max-width: 100% !important;
  padding: 0px !important;
  width: 100%;
}

.root {
  width: 100%;
}
/*Title and Navigation*/
.subtitle {
  text-align: center;
  color: #3a0ca3;
  font-weight: 700;
  margin: 150px 0 20px;
}

#purl-title {
  font-family: "Pacifico";
  font-size: 28px;
  color: #3a0ca3;
  vertical-align: middle;
  padding: 0px;
}
#bot-title {
  padding: 0px;
  font-family: "Share Tech Mono";
  font-size: 28px;
  font-weight: bold;
  color: #7209b7;
}

#purl-title-mini {
  font-family: "Pacifico";
  font-size: 18px;
  color: #3a0ca3;
  vertical-align: middle;
  padding: 0px;
}
#bot-title-mini {
  padding: 0px;
  font-family: "Share Tech Mono";
  font-size: 18px;
  font-weight: bold;
  color: #7209b7;
}

/*CSS media queries*/
@media only screen and (max-width: 600px) {
  .navigation-bar button {
    display: block;
  }
}
