/*Pattern generator display*/

.pattern-display {
  background-color: #f7f5f2;
  padding: 20px;
  margin: 0 auto;
}

#difficulty-ratings {
  list-style: none;

  font-size: 16px;
}
#scarf-title {
  font-family: "Pacifico";
  color: #3a0ca3;
}
#yarn-calculator {
  margin: 50px auto;
  text-align: center;
}
/*Image*/
.row img {
  max-width: 100%;
  border-radius: 5px;
}

/*Cards*/
.card {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0;
  max-width: 650px;
}
